<a href="https://colab.research.google.com/github/alaze2024/projetos_diversos_em_python/blob/main/MBA_em_IA_e_Big_Data_do_ICMC_USP_S%C3%A3o_Carlos_SP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mylist = [1,2,3,4,5]
list2 = [6,7,8,9,10]
mylist + list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
mylist.extend(list2)
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
mylist = "casa"
mylist

'casa'

In [ ]:
print("mylist")

mylist

Este notebook é do meu MBA em IA e Big Data do ICMC USP São Carlos SP

Apresentando minha sudações inciais.

In [ ]:
print("Hello guys. Wats up? Good morning for everyone.")

Hello guys. Wats up? Good morning for everyone.

In [ ]:
a = 200000.00
b = 150000.00
c = 182000.00
d = 890900.00
e = 720000.00
f = 845000.00
g = 900000.00
h = 910000.00
i = 883000.00
j = 1050000.00
k = float(input("Digite a taxa de desconto para este valuation:"))
l = a/((1+k)**1)+b/((1+k)**2)+c/((1+k)**3)+d/((1+k)**4)+e/((1+k)**5)+f/((1+k)**6)+g/((1+k)**7)+h/((1+k)**8)+i/((1+k)**9)+j/((1+k)**10)
print("R$ {:.2f}".format(l))

Digite a taxa de desconto para este valuation:0.05
R$ 4880721.15

In [ ]:
print("O valor da empresa neste valuation, seja seu Enterprise Value ou Equity Value, é R$ {:.2f}.".format(l))

O valor da empresa neste valuation, seja seu Enterprise Value ou Equity Value, é R$ 4880721.15.

In [ ]:
x = input('x:')
y = input('y:')
z = float(x)/float(y)
print(z)
print('x antigo', x)
print('y antigo', y)

aux = x
x = y
y = aux
print('x novo', x)
print('y novo', y)

x:550
y:246
2.2357723577235773
x antigo 550
y antigo 246
x novo 246
y novo 550

In [ ]:
v1 = int(input("Digite o valor de V1:"))
v2 = int(input("Digite o valor de V2:"))
v3 = int(input("Digite o valor de V3:"))
v4 = int(input("Digite o valor de V4:"))
if v1 < v2:
  print("V1 é menor que V2")
elif v1 > v2:
  print("V1 é maior que V2")
else:
  print("V1 é igual a V2")
  if v3 < v4:
    print("V3 é menor que V4")
  elif v3 > v4:
    print("V3 é maior que V4")
  else:
    print("V3 é igual a V4")

Digite o valor de V1:125
Digite o valor de V2:125
Digite o valor de V3:523
Digite o valor de V4:485
V1 é igual a V2
V3 é maior que V4

In [ ]:
#Verificando se minha senha digitada está correta
digitada = input('Digite a senha:')
if digitada == '561762AAAaaa@':
  print('ACESSO PERMITIDO')
else:
  print('ACESSO NEGADO')

Digite a senha:561762AAAaaa@
ACESSO PERMITIDO

In [ ]:
#no comando print, quando usamos %s nos referimos a strings, %d nos referimos a valores inteiros, e %.2f nos referimos a valores reais/decimais

In [ ]:
#Utilizando a fórmula de Bháskara para calcular as raízes de uma equação com valores reais
a = float(input('Digite o valor de a:'))
b = float(input('Digite o valor de b:'))
c = float(input('Digite o valor de c:'))
delta = b**2 - 4*a*c
raiz_delta = delta**0.5
x1 = (-b + raiz_delta)/(2*a)
x2 = (-b - raiz_delta)/(2*a)
print('x1 = %.2f' %x1)
print('x2 = %.2f' %x2)
print('As raízes são %.2f e %.2f' % (x1, x2))

Digite o valor de a:2.5
Digite o valor de b:5.8
Digite o valor de c:3.2
x1 = -0.90
x2 = -1.42
As raízes são -0.90 e -1.42

In [ ]:
# Utilizando a fórmula de Bháskara para calcular as raízes de uma equação com valores inteiros
a = int(input('Digite o valor de a: '))
b = int(input('Digite o valor de b: '))
c = int(input('Digite o valor de c: '))

delta = b**2 - 4*a*c

# Verificando se delta é negativo, zero ou positivo
if delta < 0:
    print('A equação não possui raízes reais.')
elif delta == 0:
    x1 = -b / (2*a)
    print('A equação possui uma raiz real: x = {:.2f}'.format(x1))
else:
    raiz_delta = delta**0.5
    x1 = (-b + raiz_delta) / (2*a)
    x2 = (-b - raiz_delta) / (2*a)
    print('x1 = {:.2f}'.format(x1))
    print('x2 = {:.2f}'.format(x2))
    print('As raízes são {:.2f} e {:.2f}'.format(x1, x2))

Digite o valor de a: 2
Digite o valor de b: 3
Digite o valor de c: 4
A equação não possui raízes reais.

In [ ]:
#Trabalhando com datas de nascimento
dd_hoje = 11
mm_hoje = 7
aaaa_hoje = 2024

dd = int(input('Digite o dia de nascimento:'))
mm = int(input('Digite o mês de nascimento:'))
aaaa = int(input('Digite o ano de nascimento:'))

idade = aaaa_hoje - aaaa
if aaaa_hoje == aaaa:
        idade = 0
else:
        idade = aaaa_hoje - aaaa
        print('Você tem %d anos' %idade)
        if mm_hoje < mm or (mm_hoje == mm and dd_hoje < dd):
          idade = idade - 1
          if idade < 18:
            print('Você é menor de idade')
          else:
            print('Você é maior de idade')
            print('Idade: %d anos' % idade)

Digite o dia de nascimento:18
Digite o mês de nascimento:2
Digite o ano de nascimento:1990
Você tem 34 anos

In [ ]:
#Loops infinitos
n = 1
while n > 0:  #valor de n não muda
  print(n-1)

In [ ]:
#Laço for
for item in [20,21,22,23,24,25]:
  dobro = item * 2
  print(item, ' * 2 = ', dobro)

20  * 2 =  40
21  * 2 =  42
22  * 2 =  44
23  * 2 =  46
24  * 2 =  48
25  * 2 =  50

In [ ]:
#Laço for
for item in range(10,25):
  dobro = item * 2
  print(item, ' * 2 = ', dobro)

10  * 2 =  20
11  * 2 =  22
12  * 2 =  24
13  * 2 =  26
14  * 2 =  28
15  * 2 =  30
16  * 2 =  32
17  * 2 =  34
18  * 2 =  36
19  * 2 =  38
20  * 2 =  40
21  * 2 =  42
22  * 2 =  44
23  * 2 =  46
24  * 2 =  48

In [ ]:
#Laço for com strings
for item in 'casa':
  print(item)

c
a
s
a

In [ ]:
#Laço for com strings
for item in 'A Teoria da Predestinação mais atual e original é a de Álaze Gabriel do Breviário':
  print(item)

A

T
e
o
r
i
a

d
a

P
r
e
d
e
s
t
i
n
a
ç
ã
o

m
a
i
s

a
t
u
a
l

e

o
r
i
g
i
n
a
l

é

a

d
e

Á
l
a
z
e

G
a
b
r
i
e
l

d
o

B
r
e
v
i
á
r
i
o

In [ ]:
#Loop While
i = 1
while i < 10:
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9

In [ ]:
#Loop While
while True:
  line = input('Digite algo:')
  if line == 'done':
    break
  print(line)
print('Done!')

Digite algo:amor
amor
Digite algo:cebola
cebola
Digite algo:casa
casa
Digite algo:ternura
ternura
Digite algo:terno
terno
Digite algo:frango
frango
Digite algo:fogo
fogo
Digite algo:tijolo
tijolo
Digite algo:carro
carro
Digite algo:namorada
namorada
Digite algo:esposa
esposa
Digite algo:Deus
Deus
Digite algo:done
Done!

In [ ]:
#Loop While
while True:
  line = input('Digite algo:')
  if line == 'done':
    break
  if line == 'blank':
    continue
  print(line)
print('Done!')

Digite algo:1
1
Digite algo:2
2
Digite algo:3
3
Digite algo:museu
museu
Digite algo:universidade
universidade
Digite algo:pesquisa
pesquisa
Digite algo:blank
Digite algo:done
Done!

In [ ]:
#Método de Newton
a = float(input('Digite o valor de x:'))
x = float(input('Digite o valor de e:'))
y = (x + a/x) / 2
print('y=', y, 'y*y=', y*y)

Digite o valor de x:1.2
Digite o valor de e:2.5
y= 1.49 y*y= 2.2201

In [ ]:
#repetir valores numéricos de uma em uma unidade
a = int(input('Digite o valor de a:'))
b = int(input('Digite o valor de b:'))
c = int(input('Digite o valor de c:'))
d = int(input('Digite o valor de d:'))

for i in range(a, b, 1):
  print(i)
for i in range (c, d, 1):
  print(i)

Digite o valor de a:2
Digite o valor de b:10
Digite o valor de c:12
Digite o valor de d:30
2
3
4
5
6
7
8
9
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [ ]:
#repetir valores numéricos de duas em duas unidades
a = int(input('Digite o valor de a:'))
b = int(input('Digite o valor de b:'))
c = int(input('Digite o valor de c:'))
d = int(input('Digite o valor de d:'))

for i in range(a, b, 2):
  print(i)
for i in range (c, d, 2):
  print(i)

Digite o valor de a:20
Digite o valor de b:30
Digite o valor de c:25
Digite o valor de d:50
20
22
24
26
28
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
#somar todos os números ímpares entre 0 e 100
soma = 0
for i in range(1, 100, 2):
  soma = soma + i
print('Somatório =', soma)

Somatório = 2500

In [ ]:
#somar todos os números pares entre 0 e 1200
soma = 0
for i in range(0, 1201, 2):
  soma = soma + i
print('Somatório =', soma)

Somatório = 360600

In [ ]:
#calculando a média aritmética simples de qualquer quantidade de valores reais
N = int(input('Digite a quantidade de valores:'))
soma = 0
for i in range(N):
  valor = float(input('Digite o valor:'))
  soma = soma + valor
media = soma / N
print("A média aritmética simples dos valores apresentados é igual a", media)

Digite a quantidade de valores:10
Digite o valor:7.5
Digite o valor:8.0
Digite o valor:9.2
Digite o valor:7.8
Digite o valor:8.9
Digite o valor:9.8
Digite o valor:9.9
Digite o valor:10
Digite o valor:7.9
Digite o valor:8.4
A média aritmética simples dos valores apresentados é igual a 8.74

In [ ]:
#Testar se um número é primo
for num in range(2, 100):
  for i in range(2, num):
    if num % i == 0:
      print(num, 'não é primo')
      break
  else:
    print(num, 'é primo')

2 é primo
3 é primo
4 não é primo
5 é primo
6 não é primo
7 é primo
8 não é primo
9 não é primo
10 não é primo
11 é primo
12 não é primo
13 é primo
14 não é primo
15 não é primo
16 não é primo
17 é primo
18 não é primo
19 é primo
20 não é primo
21 não é primo
22 não é primo
23 é primo
24 não é primo
25 não é primo
26 não é primo
27 não é primo
28 não é primo
29 é primo
30 não é primo
31 é primo
32 não é primo
33 não é primo
34 não é primo
35 não é primo
36 não é primo
37 é primo
38 não é primo
39 não é primo
40 não é primo
41 é primo
42 não é primo
43 é primo
44 não é primo
45 não é primo
46 não é primo
47 é primo
48 não é primo
49 não é primo
50 não é primo
51 não é primo
52 não é primo
53 é primo
54 não é primo
55 não é primo
56 não é primo
57 não é primo
58 não é primo
59 é primo
60 não é primo
61 é primo
62 não é primo
63 não é primo
64 não é primo
65 não é primo
66 não é primo
67 é primo
68 não é primo
69 não é primo
70 não é primo
71 é primo
72 não é primo
73 é primo
74 não é primo
75 não é primo
76 não é primo
77 não é primo
78 não é primo
79 é primo
80 não é primo
81 não é primo
82 não é primo
83 é primo
84 não é primo
85 não é primo
86 não é primo
87 não é primo
88 não é primo
89 é primo
90 não é primo
91 não é primo
92 não é primo
93 não é primo
94 não é primo
95 não é primo
96 não é primo
97 é primo
98 não é primo
99 não é primo

In [ ]:
#Apresentando a sequência de Fibonacci
N = int(input('Digite o número de termos:'))
a = 1
b = 1
print('1')
print('1')
for i in range(N):
  c = a + b
  print(c)
  a = b
  b = c

Digite o número de termos:25
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418

In [ ]:
#Comando while para ler números inteiros enquanto forem diferentes de zero
num = int(input('Digite um número inteiro:'))
while num != 0:
  num = int(input('Digite um número inteiro:'))
print('Fim')

Digite um número inteiro:10
Digite um número inteiro:25
Digite um número inteiro:6
Digite um número inteiro:8
Digite um número inteiro:92
Digite um número inteiro:142
Digite um número inteiro:0
Fim

In [ ]:
#while para receber vários valores inteiros e só calcular sua média aritmética quano for informado o valor 0
x = int(input('Digite um número inteiro:'))
soma = 0
quantidade = 0
while x > 0:
  soma = soma + x
  quantidade = quantidade + 1
  x = int(input('Digite um número inteiro:'))
media = soma / quantidade
print('Média =', media)

Digite um número inteiro:10
Digite um número inteiro:23
Digite um número inteiro:65
Digite um número inteiro:84
Digite um número inteiro:25
Digite um número inteiro:41
Digite um número inteiro:12
Digite um número inteiro:0
Média = 37.142857142857146

In [ ]:
#while para somar os números positivos, separado da soma dos números negativos, e imprimir a soma de cada grupo
numero = float(input('Digite um número:'))
soma_positivos = 0
soma_negativos = 0
while numero != 0:
  if numero > 0:
    soma_positivos = soma_positivos + numero
  else:
    soma_negativos = soma_negativos + numero
  numero = float(input('Digite um número:'))
print('Soma dos números positivos:', soma_positivos)
print('Soma dos números negativos:', soma_negativos)

Digite um número:12.4
Digite um número:85.3
Digite um número:-87.6
Digite um número:-45.3
Digite um número:-142.3
Digite um número:56.9
Digite um número:96.5
Digite um número:74.5
Digite um número:12.4
Digite um número:-78.9
Digite um número:-41.2
Digite um número:0
Soma dos números positivos: 338.0
Soma dos números negativos: -395.3

In [ ]:
#Programa para inserir senhas e verificar se ela é correta ou incorreta, com 5 tentativas permitidas, após o que ela é bloqueada.
MAX_TENTATIVAS = 5
senha_digitada = input('Digite a senha:')
contador = 0
while senha_digitada != '561762AAAaaa@' and contador < MAX_TENTATIVAS:
  print('Senha incorreta')
  contador = contador + 1
  senha_digitada = input('Digite outra senha: ')
if contador < MAX_TENTATIVAS:
  print('Acesso permitido')
else:
  print('Acesso bloqueado')

Digite a senha:523653aaaAAA
Senha incorreta
Digite outra senha: 561762AAAaaa
Senha incorreta
Digite outra senha: 561762Aa*
Senha incorreta
Digite outra senha: 561762Aa@
Senha incorreta
Digite outra senha: 561762AAAaaa@
Acesso permitido

In [ ]:
#Enquanto não for digitado o número 3.1415 (pi com quatro casas decimais), imprimir o cosseno de cada número
import math
num = input('Digite o número: ')
while num != '3.1415':
  num = float(num)
  print('Cosseno =', math.cos(num))
  num = input('Digite o número: ')

Digite o número: 2.5
Cosseno = -0.8011436155469337
Digite o número: 3.6
Cosseno = -0.896758416334147
Digite o número: 5
Cosseno = 0.28366218546322625
Digite o número: 3.1415

In [ ]:
#Calcular e imprimir a soma dos números pares entre 100 e 200 usando o comando while ao invés do for
soma = 0
i = 100
while i <= 200:
  if i % 2 == 0:
    soma = soma + i
  i = i + 2
print('Soma =', soma)

Soma = 7650

In [ ]:
#Imprimir os números inteiros positivos entre 0 e 10 (incluso)
contador = 0
while contador != 10:
  contador += 1
  print(contador)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Imprimir os números inteiros positivos entre 0 e 10 (não incluso)
contador = 0
while True:
  print(contador)
  contador += 1
  if contador == 10:
    break

0
1
2
3
4
5
6
7
8
9

In [ ]:
#Imprimir os números de 0 a 10, com exceção do 5 e do 7
for i in range(11):
  if i == 5 or i == 7:
    continue
  print(i)

0
1
2
3
4
6
8
9
10

In [ ]:
#Para chamar uma função é necessário definí-la primeiro
def NovaLinha():
  print

print('Primeira Linha')
NovaLinha()
print('Segunda Linha')
NovaLinha()
print('Terceira Linha')

Primeira Linha
Segunda Linha
Terceira Linha

In [ ]:
#Importando todas as funções (necessário inserir o asterisco) da biblioteca math
from math import *

def ImprimeLogaritmo(x):
  if x <= 0:
    print("Somente números positivos.")
    return
  resultado = log(x)
  print("Logaritmo de", x, "=", resultado)

ImprimeLogaritmo(0.45)

Logaritmo de 0.45 = -0.7985076962177716

In [ ]:
def maior(a, b, c):
  if a>b and a>c:
    ret = a
  elif b>a and b>c:
    ret = b
  else:
    ret = c
  return ret

print(maior(10,25,36))

36

In [ ]:
def fatorial(n):
  fat = 1
  for i in range(n):
    fat = fat * (i+1)
  return fat

print(fatorial(5))

120

In [ ]:
def pontos(velocidade):
  if velocidade <=70:
    print('Ok')
  else:
    p = 2 * ((velocidade-70))//5
    print('Pontos:', p)
    if p>20:
      print("Licença suspensa")

pontos(123)

Pontos: 21
Licença suspensa

In [ ]:
def lista():
  In[191]: lista(range(1,5))
  Out[191]: [1, 2, 3, 4]
print(lista)
print(191)

<function lista at 0x7dcf7a2bf9a0>
191

In [ ]:
numeros = [1, 3, 6, 4]
for i in range(len(numeros)):
    numeros[i] = numeros[i] * 2
print(numeros)

[2, 6, 12, 8]

In [ ]:
lista = ['sp', 1, ['1', 'casa','2'], [20,14,15,23]]
print(lista[2])
print(len(lista))
print(len(lista[2]))
print(len(lista[3]))

['1', 'casa', '2']
4
3
4

In [ ]:
#Concatenação de listas
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#O operador * repete a lista um número dado de vezes
[1]*5
[1,2,3]*5
['ab','cd',45]*3

['ab', 'cd', 45, 'ab', 'cd', 45, 'ab', 'cd', 45]

In [ ]:
lista = [1,2,3,4,5,6]
lista[1:3]

[2, 3]

In [ ]:
#Reordenando em ordem crescente minha lista
t = ['25','54','2','36','a','b','cebola','trovão','carro','casa']
t.sort()
print(t)

t = [25,54,2,36,'a','b','cebola','trovão','carro','casa']
# Converter todos os elementos para strings
t = [str(x) for x in t]
# Ordenar a lista
t.sort()
print(t)
Conclusão: duas formas pra produzir exatamente o mesmo resultado

['2', '25', '36', '54', 'a', 'b', 'carro', 'casa', 'cebola', 'trovão']
['2', '25', '36', '54', 'a', 'b', 'carro', 'casa', 'cebola', 'trovão']

In [ ]:
def publicar_todos(t):
  res = [t]
  for s in t:
    res.append(s*2)
  return res

print(publicar_todos([2,3,4,5,6,7]))

[[2, 3, 4, 5, 6, 7], 4, 6, 8, 10, 12, 14]

In [ ]:
def dobre(x):
  return 2*x
list(map(dobre, [2,3,4,5,6,7]))

[4, 6, 8, 10, 12, 14]

In [ ]:
#Definindo uma função para filtrar apenas os números pares na minha lista
def eh_par(x):
  return x % 2 == 0
list(filter(eh_par, [2,3,4,5,6,7,25,36,45,21,20]))

[2, 4, 6, 36, 20]

In [ ]:
#Removendo um elemento da lista
t = ['2','52','dado','orelha ']
x = t.pop(1)
print('t=',t)
print('x=',x)

del t[2]
print('t=',t)

t.remove('2')
print('t=',t)

t = ['a','b','c','d','e']
del t[1:4]
print('t=',t)

t= ['2', 'dado', 'orelha ']
x= 52
t= ['2', 'dado']
t= ['dado']
t= ['a', 'e']

In [ ]:
#Adicionar um elemento na minha lista
t1 = [1,2]
t2 = t1.append(3)
print('t1=',t1)
print('t2=',t2)

t1 = [1,2]
t3 = t1 + [3]
print('t1=',t1)
print('t3=',t3)

t1= [1, 2, 3]
t2= None
t1= [1, 2]
t3= [1, 2, 3]

In [ ]:
#Definindo conjuntos matemáticos = List Comprehensions
S = [x**2 for x in range(10)]
V = [2**x for x in range(13)]
M = [x for x in S if x % 2 == 0]
print('S=',S)
print('V=',V)
print('M=',M)

S= [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
V= [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
M= [0, 4, 16, 36, 64]

In [ ]:
#Ler inteiros diferentes de 0, incluí-los numa lista, e encerrar a sequência quando o número lido for 0
L =  list ()
valor = int(input('Digite um valor:'))
while valor != 0:
  L.append(valor)
  valor = int(input('Digite um valor:'))
print(L)

Digite um valor:20
Digite um valor:23
Digite um valor:525
Digite um valor:84
Digite um valor:32
Digite um valor:65
Digite um valor:41
Digite um valor:0
[20, 23, 525, 84, 32, 65, 41]

In [ ]:
#Ler um vetor de N números reais e mostrá-los na ordem inversa. O valor de N deve ser informado pelo cliente.
N = int(input('Digite o número de elementos do vetor:'))
l = []
for i in range(N):
  valor = float(input('Digite um valor:'))
  l.append(valor)
l.reverse()
print(l)

Digite o número de elementos do vetor:10
Digite um valor:12
Digite um valor:25
Digite um valor:52
Digite um valor:36
Digite um valor:41
Digite um valor:12
Digite um valor:58
Digite um valor:14
Digite um valor:45
Digite um valor:37
[37.0, 45.0, 14.0, 58.0, 12.0, 41.0, 36.0, 52.0, 25.0, 12.0]

In [ ]:
#Ler um vetor de N números reais e mostrá-los na ordem inversa. O valor de N deve ser informado pelo cliente.
N = int(input('Digite o número de elementos do vetor:'))
l = []
for i in range(N):
  x = float(input('Digite um valor:'))
  l.append(x)
for i in range(N-1, -1, -1):
  print(l[i])
print(l[i])

Digite o número de elementos do vetor:5
Digite um valor:12
Digite um valor:45
Digite um valor:41
Digite um valor:26
Digite um valor:97
97.0
26.0
41.0
45.0
12.0
12.0

In [ ]:
#Ler um vetor de N números reais e mostrá-los na ordem inversa. O valor de N deve ser informado pelo cliente.
N = int(input('Digite o número de elementos do vetor:'))
l = []
for i in range(N):
  x = float(input('Digite um valor:'))
  l.append(x)
for i in range(len(l)):
  print(l[len(l)-1-i])

Digite o número de elementos do vetor:5
Digite um valor:12
Digite um valor:35
Digite um valor:12
Digite um valor:47
Digite um valor:85
85.0
47.0
12.0
35.0
12.0

In [ ]:
#Ler números inteiros, separando-os em duas listas, uma de números pares e outra de números ímpares. O laço só para quando o usuário digita 0.
par = list()
impar = list()
num = int(input('Digite um número:'))
while num != 0:
  if num % 2 == 0:
    par.append(num)
  else:
    impar.append(num)
  num = int(input('Digite um número:'))
print('Números pares:', par)
print('Números ímpares:', impar)

Digite um número:10
Digite um número:52
Digite um número:35
Digite um número:17
Digite um número:18
Digite um número:2
Digite um número:25
Digite um número:41
Digite um número:89
Digite um número:41
Digite um número:12
Digite um número:36
Digite um número:12
Digite um número:41
Digite um número:0
Números pares: [10, 52, 18, 2, 12, 36, 12]
Números ímpares: [35, 17, 25, 41, 89, 41, 41]

In [ ]:
#Ler as alturas e idades dos alunos e apresentar a soma das idades e das alturas dos alunos.
N = int(input('Digite o número de alunos:'))
soma_idades = 0
soma_alturas = 0
idades = []
alturas = []

for i in range(N):
    print('Aluno número %d' % (i + 1))
    idade = int(input('Digite a idade do aluno:'))
    altura = float(input('Digite a altura do aluno:'))
    idades.append(idade)
    alturas.append(altura)
    soma_idades += idade
    soma_alturas += altura

media_idades = soma_idades / N
media_alturas = soma_alturas / N

print('Média de idades:', media_idades)
print('Média de alturas:', media_alturas)

count = 0
for i in range(N):
    if alturas[i] < media_alturas and idades[i] > 13:
        count += 1

print('O número de alunos com mais de 13 anos e altura inferior à média é:', count)

Digite o número de alunos:5
Aluno número 1
Digite a idade do aluno:12
Digite a altura do aluno:1.5
Aluno número 2
Digite a idade do aluno:14
Digite a altura do aluno:1.6
Aluno número 3
Digite a idade do aluno:15
Digite a altura do aluno:1.52
Aluno número 4
Digite a idade do aluno:17
Digite a altura do aluno:1.53
Aluno número 5
Digite a idade do aluno:13
Digite a altura do aluno:1.48
Média de idades: 14.2
Média de alturas: 1.5260000000000002
O número de alunos com mais de 13 anos e altura inferior à média é: 1

In [ ]:
#Encontrando elemento(s) em comum em duas listas e apresentando isto na tela
l1 = [12, 41, 52, 23, 63, 54, 87]
l2 = [ 12,52, 84, 75, 63, 54]

ha_comum = False
for a in l1:
  for b in l2:
    if a == b:
      ha_comum = True
if ha_comum:
  print('Há elementos em comum')
else:
  print('Não há elementos em comum')

Há elementos em comum

In [ ]:
#Ler duas listas e intercalar seus elementos
L1 = [12,52,63,87]
L2 = [15,87,95,52]

res = list()
for i in range(len(L1)):
  res.append(L1[i])
  res.append(L2[i])
print(res)

[12, 15, 52, 87, 63, 95, 87, 52]

In [ ]:
fruit = 'banana'
letter = fruit[1]
print(letter)
print(len(fruit))
last = fruit[len(fruit)-1]
print(last)
index = 0
while index < len(fruit):
  letter = fruit[index]
  print(letter)
  index = index + 1

a
6
a
b
a
n
a
n
a

In [ ]:
#Outra forma mais simples para imprimir todos os caracteres de uma string
fruit = 'banana'
for letter in fruit:
  print(letter)
for char in fruit:
  print(char)

b
a
n
a
n
a
b
a
n
a
n
a

In [ ]:
#Fatiando um string
s = 'Monty Python'
print(s[0:5])
print(s[6:12])

Monty
Python

In [ ]:
fruit = 'banana'
'n' in fruit
'm' in fruit
'nan' in fruit
if 'a' in fruit:
  print('Found it!')
fruit[:3]
fruit[3:]

Found it!

'ana'

In [ ]:
fruit[1:1]
fruit[2:2]
fruit[3:3]
fruit[4:4]
fruit[5:5]
fruit[6:6]
fruit[0:6]
fruit[:]

'banana'

In [ ]:
#"modificando" uma string; na verdade, criamos outra string com algum(ns) elemento(s) diferente(s)
greeting = 'Hello, world!'
new_greeting = 'J' + greeting[1:]
print(new_greeting)

Jello, world!

In [ ]:
#Encontrando caracter(es) em uma string
def find(word, letter, start=0):
  index = start
  while index < len(word):
    if word[index] == letter:
      return index
    index = index + 1
  return -1

find('banana', 'na')
find('banana', 'na', 3)

-1

In [ ]:
def count_char(word, letter):
  count = 0
  for char in word:
    if char == letter:
      count = count + 1
  return count

count_char('banana', 'a')

3

In [ ]:
word = 'banana'
new_word = word.upper()
print(new_word)
index = word.find('a')
print(index)
word.find('na')
word.find('na', 3)

BANANA
1

4

In [ ]:
from string import *
word = 'banana'
word.find('na')

2

In [ ]:
from string import *
word = 'banana'
word.find('na')
new_word = word.replace('a', 'o')
print(new_word)

bonono

In [ ]:
word = 'banana na'
word.find('na',5)

7

In [ ]:
word = 'bananak'
word.find('k',0,5)
#A resposta -1 indica que da posição 0 até a posição 5 não há a substring k na string bananak

-1

In [ ]:
'a' in 'banana'

True

In [ ]:
#Imprimindo letras comuns em duas palavras
def in_both(word1, word2):
  for letter in word1:
    if letter in word2:
      print(letter)

in_both('apples', 'oranges')

a
e
s

In [ ]:
word = 'banana'
if word == 'banana':
  print('All right, bananas.')

All right, bananas.

In [ ]:
#Comparando a ordem alfabética de strings
word = 'Pineapple'
if word < 'banana':
  print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
  print('Your word,' + word + ', comes after banana.')
else:
  print('All right, bananas.')

Your word,Pineapple, comes before banana.